/* Hide scrollbar (for Webkit browsers like Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Custom scrollbar */
.scrollbar-custom::-webkit-scrollbar {
  height: 6px; /* Scrollbar height */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1a1a1a; /* Dark background */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background: #555;
}



